@model WebBanHangOnline.Models.EF.News
@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .new_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }
</style>
<div class="container new_section_container">
    @if (Model != null)
    {
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-news">@ViewBag.Title</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Model.Description
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
               @Html.Raw(Model.Detail)
            </div>
        </div>
    }
</div>


